*{
    margin: 0;
    padding: 0;
    
}

.container{
    /* display: flex; */
    justify-content: space-around;
    width: 1440px;
    /* height: 760px; */
    background-color: #00A5C5;;
}

.header{
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 122px;
    padding-right: 121px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoWrapper{
    display: flex;
    align-items: center;
}

.navBar{
    display: flex;
    align-items: center;
}

#wD{
    width: 144px;
/* height: 48px; */
    left: 187px;
    top: 22px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
    color: #F0AF15;
}

.btnStyle1{
    padding-right: 35px;
}

.btn1{
    /* width: 115px;
    height: 20px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: none;
    color: #FFFFFF;
    background-color: #00A5C5;;
    cursor: pointer;
}

.btn2{
    /* width: 120px;
    height: 20px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: none;
    color: #FFFFFF;
    background-color: #00A5C5;;
    cursor: pointer;
}

.btn3{
    /* width: 105px;
    height: 20px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: none;
    color: #FFFFFF;
    background-color: #00A5C5;;
    cursor: pointer;
}

.btn4{
    /* width: 156px;
    height: 20px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: none;
    color: #FFFFFF;
    background-color: #00A5C5;;
    cursor: pointer;
}

.btn5{
    /* width: 108px;
    height: 20px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: none;
    color: #FFFFFF;
    background-color: #00A5C5;;
    cursor: pointer;
}

.line{
    width: 28px;
    height: 0px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.mainSectionWrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 122px;
    align-items: center;
    /* padding-top: 90px; */
    margin-top: -90px;
}

#logoText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}

.smallText{
    padding-top: 15px;
}

#smallText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.doggy{
    margin-top: 130px;
}

.testBnt{
    padding-top: 33px;
}

.testButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    border: none;
    width: 223px;
    height: 43px;
    background: linear-gradient(135deg, #FF6976 -12.5%, #FF7979 43.02%, #FDBEAE 113.5%);
    box-shadow: 2px 4px 8px rgba(248, 94, 94, 0.25);
    border-radius: 30px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 8px;
    color: #FFFFFF;
    cursor: pointer;
}

#doggy{
    /* position: absolute; */
    margin-right: 0px;
    width: 525px;
    height: 525px;
}


.topBlockColor{
    background-color: #007D96;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 658px;
}

.blockColor{
    position: absolute;
    margin-top: -75px;
    width: 1440px;
    height: 210px;
    background-color: #007D96;
    border-radius: 100px 0px 100px 0px;
}

.blockColor::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 176px;
    right: 0px;
    top: -120px;
    border-radius: 0px 0px 140px / 80px 0px;
    box-shadow: rgb(0 125 150)0px 0px 0px 0px;
    /* box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05); */
backdrop-filter: blur(30px)
}
.textIcon{
    background-color: #E5E5E5;;
    width: 1440px;
}

.iconArea {
    display: flex;
    justify-content: space-around;
    margin-top: 170px;
    display: flex;
    justify-content: space-between;
    margin-left: 164px;
    margin-right: 165px;
    padding-top: 95px;
}

.textArea{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 105px;
    margin-right: 104px;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

span{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #000000
}

.text1{
    text-align: center;
    margin-top: 39px;
}

.text2{
    text-align: center;
    margin-top: 29px;
}

.text3{
    text-align: center;
    margin-top: 60px;
}

.text4{
    text-align: center;
    margin-top: 40px;
}

.mapSection{
    display: flex;
    /* justify-content: space-around; */
    /* width: 1440px; */
    margin-left: 236px;
    column-gap: 188px;
    padding-top: 227px;
    /* padding-right: 263px; */
    background-color: #FAFAFA;;
}

.mapContainer{
    display: flex;
    flex-direction: column;
    align-self: center;
}

#phone{
    width: 284px;
    height: 562px;
}
#map{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 54px;
    color: #000000;;
}

#description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.3px;
    color: #000000;
}

.paw{
    position: absolute;
    right: -20px;
}

.findOut{
    display: flex;
    flex-direction: column;
    margin-left: 243px;
    margin-top: 240px;
}

#betaHeader{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 38px;
color: #000000;
}

#betaTest{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.3px;
color: #000000;
}

.dogsPlaces{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    margin-top: 229px;
    background-color: #FAFAFA;;
}
h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 38px;
color: #000000;
}

.storyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    margin-top: 76px;
}

#title{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 38px;
color: #000000;
}

#story{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    text-align: left;
}
.story1{
    display: flex;
    column-gap: 46px;
}

.chatSection{
    display: flex;
}

.comment{
    position: relative;
    margin-left: 50px;
    width: 366px;
    height: 139px;
    background: linear-gradient(135deg, #007D96 -12.5%, #00A5C5 113.5%);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 282px;
    margin-left: 409px;
}

.comment::before{
    position: absolute;
    content: "";
    background: linear-gradient(135deg, #007D96 -12.5%, #00A5C5 113.5%);
    width: 50px;
    height: 50px;
    margin-top: 125px;
}

.comment::after{
    position: absolute;
    content: "";
    background-color: white;
    width: 60px;
    height: 60px;
    margin-top: 50px;
    margin-left: 0px;
    border-radius: 15px;
}


.comment p{
    padding-top: 26px;
    padding-left: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.chatSection2{
    margin-top: 335px;
}

.comment1 {
    position: absolute;
    margin-top: 469px;
    margin-left: -90px;
}

#dog6{
    position: absolute;
    margin-left: 173px;
    margin-top: 390px;
}