html {
    background: #FAFBFF;
    /* max-width: 100vh; */
    /* max-height: 100vw; */
    margin-left: auto;
    margin-right: auto;
}

body {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    }

.dashBoard {
    display: flex;
    width: 102px;
}
.sideMenu {
    display: flex;
    flex-direction: column;
    width: 102px;
    height: 1198px;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
}

.hexa {
    display: flex;
    padding-left: 36px;
    padding-top: 39px;
    padding-right: 35px;
    width: 30px;
    height: 33px;
}

.circle {
    position: absolute;
    padding-left: 9px;
    padding-top: 6px;
}

.rectangle32 {
    display: flex;
    padding-left: 28px;
    padding-top: 58px;
}

.rectangle14 {
    position: absolute;
    padding-left: 40px;
    padding-top: 140px;
}

.key {
    position: absolute;
    padding-left: 44px;
    padding-top: 141px;
}

.dot {
    position: absolute;
    padding-left: 51px;
    padding-top: 134px;
}

.rectangle15 {
    display: flex;
    padding-left: 40px;
    padding-top: 30px;
}
.box {
    position: absolute;
    padding-left: 44px;
    padding-top: 206px;
}

.rectangle17 {
    display: flex;
    padding-left: 40px;
    padding-top: 43px;
}

.walletMoney {
    display: flex;
    padding-left: 40px;
    padding-top: 42px;
}

.discountShape {
    display: flex;
    padding-left: 39px;
    padding-top: 41px;
}

.messageQuestion {
    display: flex;
    padding-left: 40px;
    padding-top: 41px;
}

.eclipse {
    display: flex;
    padding-left: 28px;
    padding-top: 599px;
}
.rightSection {
    max-width: 968px;
    width: 100%;
    padding-top: 40px;
    padding-right: 95px;
    /* display: flex; */
    /* flex-direction: column; */
}

.header {
    display: flex;
    justify-content: space-between;
    height: 38px;
    margin-bottom: 24px;
    /* padding-top: 41px; */
    /* width: 1440px; */
    /* height: 100px; */
}


.headerText {
    width: 180px;
    height: 36px;
}

.headerText span {
    font-size: 24px;
    line-height: 36px;
}

.mainBox {
    background-color: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    border-radius: 30px;
}

.rectangleSearch1 {
    display: flex;
    width: 216px;
    height: 38px;
    border-radius: 12px;
}

.rectangleFirst {
    display: flex;
    justify-content: space-between;
    padding: 32px 65px;
    flex-wrap: wrap;
    min-width: 300px;
}

.rectangleGroup {
    display: flex;
    justify-content: space-between;
    height: 378px;
    margin-top: 28px;
    margin-bottom: 25px;
}

.overviewWrapper {
    margin-left: 38px;
    margin-top: 27px;
}

.overView {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.01em;
    color: #000000;
}

.monthlyEarning {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #ACACAC;

}

.headWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.rectangleSecond {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 628px;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    border-radius: 30px;
    flex-wrap: wrap;
    min-width: 300px;
}

.quartelyRecrangle {
    display: flex;
    width: 118px;
    height: 38px;
    margin-top: 27px;
    margin-right: 37px;
    background-color: #F9FBFF;
    border-radius: 10px;
}

.quartelyText {
    margin-left: 16px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #7E7E7E;
}

.chevron {
    width: 24px;
    height: 24px;
    margin-top: 7px;
    margin-left: 12px;
}

.graphWrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 207px;
    padding-left: 40px;
    padding-right: 40px;
    
}

.graph8 {
    width: 40px;
    height: 207px;
    background-color: #5932EA;
    border-radius: 8px;
}

.monthSection {
    display: flex;
    justify-content: space-between;
    padding-left: 47px;
    padding-right: 47px;
    /* column-gap: 16px; */
    font-size: 8px;
    line-height: 12px;
    letter-spacing: -0.01em;
    color: #4F4F4F;
}


.rectangleThird {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    width: 307px;
    
}

.customerWrapper {
    display: flex;
    flex-direction: column;
}

.customer {
    font-size: 22px;
    line-height: 33px;
    margin-left: 38px;
    letter-spacing: -0.01em;
    color: #000000;
}

.customerBuy {
    font-size: 14px;
    line-height: 21px;
    margin-left: 38px;
    letter-spacing: -0.01em;
    color: #ACACAC;
}

.element1 {
    position: absolute;
    margin-left: 131px;
    margin-top: 36px;
    margin-bottom: 130px;
}

.element2 {
    position: absolute;
    margin-left: 65px;
    margin-top: 40px;
}

.element3 {
    position: absolute;
    margin-top: 45px;
    margin-left: 48px;
}

.element4 {
    position: absolute;
    margin-left: 102px;
    margin-top: 108px;
}

.secondSection {
    display: flex;
}

.rectangle30 {
    height: 472px;
    }
  
    

.productSellWrapper {
    display: flex;
    justify-content: space-between;
}

.text {
    padding-left: 38px;
    padding-top: 22px;
    font-size: 22px;
}

.searchMenuSide{
    display: flex;
    justify-content: space-between;
}
.rectangleSearch {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-right: 24px;
    width: 216px;
    height: 38px;
    background: #F9FBFF;
    border-radius: 10px;
}
.search3 {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    margin-top: 10px;
}


.searchText {
    font-size: 12px;
    margin-left: 13px;
    margin-top: 10px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #7E7E7E;
}


.rectangleDropDownMenu {
    margin-top: 24px;
    margin-right: 48px;
    width: 135px;
    height: 38px;
    background: #F9FBFF;
    border-radius: 10px;
}

.dropbtn {
    /* background-color: #04AA6D; */
    color: rgb(41, 40, 40);
    padding: 16px;
    font-size: 12px;
    letter-spacing: -0.01em;
    color: #7E7E7E;
    font-family: Poppins;
    border: none;
    width: 135px;
    height: 38px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9FBFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    letter-spacing: -0.01em;
    color: #7E7E7E;
  }
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {
  background-color: #F9FBFF;
  font-size: 12px;
}

.productInfoWrapper {
    display: flex;
    justify-content: space-between;
}

.bottomTextWrapper {
    display: flex;
    justify-content: space-between;
}
.productName span {
    margin-top: 28px;
    margin-left: 38px;
    font-size: 12px;
    letter-spacing: -0.01em;
    color: #B5B7C0;
}

.rightSideMenu {
    display: flex;
    justify-content: space-between;
}

.stock {
    padding-top: 21px;
    padding-right: 114px;
}

.stock span {
    font-size: 12px;
    letter-spacing: -0.01em;
    color: #B5B7C0;
}

.price {
    padding-top: 21px;
    padding-right: 76px;
}
.price span {
    font-size: 12px;
    letter-spacing: -0.01em;
    color: #B5B7C0;
}

.totalSales {
    margin-top: 21px;
    margin-right: 67px;
}

.totalSales span {
    font-size: 12px;
    letter-spacing: -0.01em;
    color: #B5B7C0;
}

.abstractWrapper  {
    display: flex;
    /* justify-content: space-between; */
}
.picture1{
    margin-left: 38px;
    margin-top: 20px;
    /* width: 90px; */
    /* height: 56px; */
}

.picture1 img {
    width: 90px;
    height: 56px;
}

.text1 {
    margin-left: 26px;
    margin-top: 24px;
}

.text1 p {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.01em;
    color: #000000;
}

.text1 #lorem {
    font-size: 12px;
    line-height: 3px;
    color: #9197B3;
    letter-spacing: -0.01em;
}

.stockItem {
    margin-top: 36px;
    margin-left: 65px;
}

.stockItem span {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #313131;
}

.dollars {
    margin-left: 86px;
    margin-top: 36px;
}
.dollars span {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #000000;
}

.number {
    margin-left: 92px;
    margin-top: 36px;
}

.number span {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #313131;
}

.image2 {
    margin-left: 38px;
    margin-top: 24px;
}

.imageWrapper {
    display: flex;
}

.text2 {
    margin-left: 26px;
    margin-top: 31px;
}
 .text2 p {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.01em;
    color: #000000;
 }

 .text2 #lorem {
    font-size: 12px;
    line-height: 3px;
    color: #9197B3;
    letter-spacing: -0.01em;
 }

 @media screen and (max-width: 600px) {
    .text1 {
      font-size: 10px;
      /* width: 100%; */
    }
  }